/*
	Theme Name: Fat Cat Theme (Child)
	Author: Manuel Urak
	Author URI: https://www.manuelurak.dev
	Version: 1.0.0
	Tested up to: 6.0
	Requires PHP: 8.0.13
	Template: fc-theme
	Text Domain: fc-theme
*/