/* Stylesheet for admin styles */

//Include custom-styles file to get mixins and variables

@import 'custom-style';

//Login Panel styles

body{
    font-family: $font;

    &.login{
        background: $purple;
    }

    #login{
        .wp-login-logo{
            a{
                background-image: url(../imgs/cat.png);
                background-repeat: no-repeat;
                background-size: 85px;
                background-position: center;
                filter: drop-shadow(0px 0px 9px $white);
            }
        }

        .notice{
            border: 1px solid $turkise;
            border-radius: 10px;
            background: $black;

            p{
                text-align: center;
                color: $white;
            }
        }

        #loginform{
            border: 1px solid $turkise;
            border-radius: 10px;
            background: $black;

            p{
                label{
                    color: $white;
                }

                input{
                    border: 1px solid $turkise;
                    border-radius: 10px;
                    background: transparent;
                }
            }

            .user-pass-wrap{
                label{
                    color: $white;
                }

                .wp-pwd{
                    input{
                        border: 1px solid $turkise;
                        border-radius: 10px;
                        background: transparent; 
                    }
                }
            }

            .submit{
                .button{
                    padding: 0 10px;
                    font-size: 13px;
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;
                
                    &-primary{
                        background-color: #3a0ca3;
                        box-shadow: inset 15px 15px 40px #00bfe7, inset -120px -10px 40px #00bfe7;
                
                        &:hover{
                            background: transparent;
                            border: 1px solid $white;
                            box-shadow: unset;
                            transition: all .5s ease-in-out;
                        }
                    }
                }
            }
        }

        #nav{
            a{
                color: $white;
            }
        }

        #backtoblog{
            display: none;
        }
    }

    .language-switcher{
        display: none;
    }
}

//Admin Dashboard styles

body{
    font-family: $font;

    &.wp-admin{
        background: $white;
    }

    #wpwrap{
        #adminmenumain{
            #adminmenuback{
                background: $purple;
            }

            #adminmenuwrap{
                background: $purple;

                #adminmenu{
                    background: $purple;

                    li{
                        a{
                            color: $white;
                            text-transform: uppercase;

                            .wp-menu-image{
                                &::before{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        #wpcontent{
            #wpadminbar{
                background: $purple;

                .quicklinks{
                    .ab-top-menu{
                        .menupop#wp-admin-bar-wp-logo{
                            .ab-item{
                                .ab-icon{
                                    &::before{
                                        content: '';
                                        background-image: url(../imgs/cat.png);
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: 20px;
                                        width: 20px;
                                        height: 20px;
                                        display: block;
                                        filter: drop-shadow(0 0 10px $white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}