/* MIXINS & VARIABLES */


@mixin l {
	@media only screen and (max-width: 1024px) {
		@content;
	}
}

@mixin m {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin s {
	@media only screen and (max-width: 480px) {
		@content;
	}
}

/* GENERAL */


/* HEADER */


/* FOOTER */


/* MAIN */


/* BLOCKS */


/* PLUGINS */

