/* Stylesheet for variables and mixins */

//Breakpoints

@mixin content{
	@media only screen and (max-width: 1320px){
		@content;
	}
}

@mixin xl{
	@media only screen and (min-width: 1320px){
		@content;
	}
}

@mixin l {
	@media only screen and (max-width: 1024px) {
		@content;
	}
}

@mixin m {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin s {
	@media only screen and (max-width: 480px) {
		@content;
	}
}

//Fonts

$font: 'Poppins';

//Colors

$white: #ffffff;
$black: #000000;
$grey: #d3d3d3;
$darkgrey: #22223B;
$purple: #100028;
$turkise: #00bfe7;